.dream-faq-area dt:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#accordion h3 {
    cursor: pointer;
    padding: 15px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(45deg, #ff1800, #db9550 50%, #f78b19);
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 30px;
}
#accordion h3 span{
    background-image: none;
    display: none;
}
#accordion .accordion-description  {
    margin: 0;
    padding: 15px 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, rgb(102 125 241 / 8%) 0%, rgba(255, 189, 94, 0) 100%), #1e2738;
    margin-bottom: 10px;
}