#toolbar-bar {
    z-index: 9999;
}
@include(pxl.medium){
    .shrink{animation:none;}
    .login-btn{
        margin-left: 15px !important;
        margin-top: 15px !important
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link{
        padding: 5px 12px;
        color: #333
    }
    .navbar-expand-lg.navbar-dark {background: rgb(215, 223, 239);}
    .navbar-collapse{
        padding-top: 20px;
        background: rgb(215, 223, 239)
    }
}

.team-social-icon a {
    font-size: 22px;
    margin-top: 10px;
    width: 80px;
    height: 80px;
    background: url(/themes/custom/pxl/images/diamond-shape.svg) no-repeat center center;
    background-size: contain;
    color: #8a55f6;
    line-height: 70px;
    display: inline-block;
}

.team-social-icon {
    text-align: center;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
}