@import '../../fonts/';
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #4834d4;
    overflow-x: hidden;
    background: -webkit-linear-gradient(to right, #4834d4, #341f97);
    background: -webkit-linear-gradient(left, #4834d4, #341f97);
    background: linear-gradient(to right, #4834d4, #341f97);
}
.darker-blue{
    background: linear-gradient(180deg,#240044 0,#0f0240 25%,#400959 40%,#0f0240 65%,#0f0240);
}
.darker{
   background:  #141a28
}
.darker2 {
    background: #090134;
}
.darkest{
    background: #111028
}
#page h1,
#page h2{
    font-family: 'michroma' , Sans-serif;
    color: #fff;
    line-height: 1.4;
    font-weight: 700;
}
#page h3,
#page h4,
#page h5,
#page h6 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 1.4;
    font-weight: 500;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
}

li {
    list-style: none;
}

p {
    line-height: 1.9;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.darker .faq-timeline-area {
    margin-top: 6rem;
}
.section-padding-100-85 {
    padding-top: 100px;
    padding-bottom: 85px;
}
.single-team-member {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    background: #1E2738;
    padding: 30px;
    border-radius: 10px;
}
.team-member-thumb {
    width: 190px;
    height: 190px;
    background: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.w-text {
    color: #fff !important;
}
.g-text {
    color: #d8d0d0;
}
.team-info p {
    color: #a592b4;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 0;
    text-align: center;
}
.team-info h5 {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.footer-area {
    position: relative;
    z-index: 1;
    padding: 0;
}
.footer-content-area {
    padding: 140px 0 80px;
    margin-top: 0px;
    background: url(../img/footer-bg.png) top left no-repeat;
    background-size: cover;
}
.contact_info_area .contact_info h5 {
    font-size: 24px;
}

.contact_info_area .contact_info ul li a {
    margin-bottom: 0;
    font-size: 18px;
    color: #eee;
}

.footer-logo img {
    width: 200px;
}

.node__content .field--name-body {
    padding: 2rem 8rem;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
}