{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <ol class="breadcrumb justify-content-center wow fadeInUp animated">
      {% for item in breadcrumb %}
        <li class="breadcrumb-item">
          {% if item.url %}
            <a href="{{ item.url }}" class="breadcrumb__link">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>

{% endif %}
